<%- include('../partials/header') %>


<div class="container">
<canvas id="myChart" width='600' height="400"></canvas>
</div>
<!-- 
<div>Weather</div>

<div>google</div>

<div>Online/offline</div> -->


<%- include('../partials/footer') %>