<%- include('../partials/header') %>


<div id="storeForm">
  <form>
    <div class="form-group">
        <label for="formGroupName">Name</label>
        <input type="text" class="form-control" id="formGroupName" placeholder="Enter Store Name">
        <label for="formGroupStoreId">Store Number</label>
        <input type="number" class="form-control" id="formGroupStoreId" placeholder="Enter Store Number">
        <label for="formGroupCity">City</label>
        <input type="text" class="form-control" id="formGroupCity" placeholder="Enter City">
        <label for="formGroupState">State</label>
        <input type="text" class="form-control" id="formGroupState" placeholder="Enter State">
        <label for="formGroupZip">Zip Code</label>
        <input type="number" class="form-control" id="formGroupZip" placeholder="Enter Zip">
        <label for="formGroupWebsite">Website URL</label>
        <input type="text" class="form-control" id="formGroupWebsite" placeholder="Enter Website URL">
        <label for="formGroupStoreId">Google Analytics API</label>
        <input type="text" class="form-control" id="formGroupStoreId" placeholder="Google Analytics API string">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>

<%- include('../partials/footer') %>