<%- include('./partials/header') %>

<aside class='side-nav'>
    <ul>
        <li>
            Dashboard
        </li>
        <li>
            Chat
        </li>
        <li>
            Users
        </li>
        <li>
            Store
        </li>
    </ul>
</aside>

<div class="dashbox">
    <div class="large-box" id="top-box"><p>TEST BOX</p></div>
    <div id="mid-left"><p>TEST BOX</p></div>
    <div id="mid-right"><p>TEST BOX</p></div>


    <div class="card-body rounded-soft bg-gradient"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="row text-white align-items-center no-gutters">
      <div class="col">
        <h4 class="text-white mb-0">Today $764.39</h4>
        <p class="fs--1 font-weight-semi-bold">Yesterday <span class="opacity-50">$684.87</span></p>
      </div>
    </div><canvas class="max-w-100 rounded chartjs-render-monitor" id="chart-line" width="822" height="190" aria-label="Line chart" role="img" style="display: block; width: 822px; height: 190px;"></canvas>
  </div>

</div>


<%- include('./partials/footer') %>