<%- include('./partials/header') %>


<aside class='side-nav'>
    <ul>
        <li>
            Dashboard
        </li>
        <li>
            Chat
        </li>
        <li>
            Users
        </li>
        <li>
            Store
        </li>
    </ul>
</aside>

<%- include('./partials/footer') %>