:root {
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
--blue: #2c7be5;
--indigo: #727cf5;
--purple: #6b5eae;
--pink: #ff679b;
--red: #e63757;
--orange: #fd7e14;
--yellow: #f5803e;
--green: #00d27a;
--teal: #02a8b5;
--cyan: #27bcfd;
--white: #fff;
--gray: #748194;
--gray-dark: #4d5969;
--primary: #2c7be5;
--secondary: #748194;
--success: #00d27a;
--info: #27bcfd;
--warning: #f5803e;
--danger: #e63757;
--light: #f9fafd;
--dark: #0b1727;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--breakpoint-xxl: 1540px;
--font-family-sans-serif: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
--font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

html {
  box-sizing: border-box;
  margin: 0;

}

body{
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #070707;
text-align: left;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
display: block;
}

h2 {
  text-align: center;
}

/* #user-profile {
  padding-left: 1rem;
} */

.side-nav {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-box-flex: 1;
  /* flex-grow: 1; */
  -webkit-box-align: center;
  align-items: center;
  /* flex-basis: auto; */
  background-color: rgba(237,242,249,.96);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  border-radius: .375rem;
  background-image: linear-gradient(-45deg,rgba(0,160,255,.86),#0048a2),url(../img/generic/bg-navbar.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  position: relative;
  /* display: inline-block!important; */
  transition: width .2s ease;
  transition-property: width,box-shadow,-webkit-box-shadow;
  margin-top: 1.125rem;
  width: 12.5rem!important;
  margin-left: 2.5rem!important;
  height: 25.5rem!important;
  float: left;
}

.side-nav > ul {
  list-style-type: none;
  margin-top: 1rem;
  justify-content: center;
}

.nav-space {
  display: inline-flex;
  justify-content: center;
  padding-right: 1rem;
  width: 2rem;
}

#dashboard {
  margin-top: 1.125rem;
  padding-left: 15px;
  padding-right: 50px;
}



.bg-gradient {
  background-image: linear-gradient(-45deg, #014ba7, #0183d0);
  background-position: center;
}

.rounded-soft {
  border-radius: .375rem;
}

#nav-a {
  color: white;
}

#nav-a:hover {
  color: #000000;
}

#navbarNav {
  justify-content: flex-end;
  margin-right: 7rem;
}


#top-box {
  background-color: black;
}

#mid-left {
  background-color: green;
}

#mid-right {
  background-color: red;
}

#avatarPhoto {
  border-radius: 50%;
  height: 2.5rem;
}

#storeForm {
  display: flex;
  justify-content: center;
}

#user-profile {
  margin-top: 1.125rem;
}

.form-group {
 
}


